:root {
    --box-shadow-chart: 2px 3px 6px 2px #a09e9eae;
}

.chart-polar {
    position: relative;
    float: right;
    width: 45%;
    margin-right: 1rem;
    padding: 1rem;
    box-shadow: var(--box-shadow-chart);
}

.chart-polar-info .sales {
    float: right;
}

.chart-polar-info .sales>span {
    margin-left: 1.5rem;
    margin-bottom: 2rem;


}

.chart-polar-info .ready>span {
    margin-left: 1.5rem;

}

.chart-polar-info .ready>h3 {
    margin-left: 2rem;

}

.chart-line {
    position: relative;
    padding: 1rem;
    margin-left: 1rem;
    top: 425px;
    width: 45%;
    box-shadow: var(--box-shadow-chart);
}

.chart-column {
    position: relative;
    padding: 1rem;
    margin-bottom: 5rem;
    margin-left: 1rem;
    left: 45%;
    top: 450px;
    float: right;
    width: 45%;
    box-shadow: var(--box-shadow-chart);

}

.chart-stacked {
    position: relative;
    padding: 1rem;
    margin-bottom: 5rem;
    margin-left: 1rem;
    bottom: 24px;
    float: left;
    width: 45%;
    box-shadow: var(--box-shadow-chart);
}

.chart-pie {
    position: absolute;
    width: 45%;
    margin-left: 1rem;
    top: 157%;
    box-shadow: var(--box-shadow-chart);
}

.chart-area {
    position: absolute;
    width: 45%;
    margin-left: 1rem;
    top: 156%;
    left: 53.3%;
    box-shadow: var(--box-shadow-chart);
}

.chart-scatter {
    position: absolute;
    width: 45%;
    margin-left: 1rem;
    top: 214%;
    left: 53.3%;
    box-shadow: var(--box-shadow-chart);
}