:root {
	--comic-font: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
}

.data-table {
	position: relative;
	width: 67%;
	height: 50rem;
	display: table;
	margin: 0 auto;
	padding: 0.3rem;
}
.main-btn {
	display: flex;
	justify-content: flex-start;
	margin: 0.5rem;
	width: 80%;
}
.charts-btn {
	text-transform: capitalize !important;
	font-family: var(--comic-font) !important;
	font-size: 1rem !important;
	margin-left: 2rem !important;
}

.pdf-btn {
	text-transform: capitalize !important;
	font-family: var(--comic-font) !important;
	font-size: 1rem !important;
	margin-left: 2.5rem !important;
}

.xls-btn {
	text-transform: capitalize !important;
	font-family: var(--comic-font) !important;
	font-size: 1rem !important;
	margin-left: 3rem !important;
}

.avatar {
	width: 3.125rem;
	border-radius: 1.5rem 2rem 1rem 5rem;
	margin-bottom: 0.1rem;
}

.filters {
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-search {
	position: relative;
	bottom: 2rem;
	direction: rtl;
	width: 15rem !important;
	height: 2rem !important;
	font-size: 1.3rem !important;
	margin-left: 2rem !important;
}
.input-select-search {
	position: relative;
	bottom: 2rem;
	direction: rtl;
	width: 15rem !important;
	height: 2rem !important;
	font-size: 1.3rem !important;
}
.checkbox-open-range {
	position: relative;
	bottom: 1.2rem;
	direction: rtl;
	margin-left: 1rem !important;
}

.date-range {
	right: 2rem;
	position: relative;
	bottom: 1rem;
}
.rs-anim-fade.rs-anim-in {
	border-radius: 25px !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
	direction: rtl !important;
}
/* @media screen and (max-width: 1700px) {
	.data-table {
		display: block;
		width: 60%;
	}
	.main-btn {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 1rem;
		width: 80%;
	}
}

@media screen and (max-width: 1430px) {
	.data-table {
		display: block;
		width: 80%;
	}
}

@media screen and (max-width: 1100px) {
	.data-table {
		display: block;
		width: 100%;
	}
} */

@media screen and (max-width: 1250px) {
	.data-table {
		display: block;
		width: 100%;
	}
	.main-btn {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 1rem;
		width: 80%;
	}
	.xls-btn {
		width: 15rem !important;
		left: 0.5rem !important;
	}
	.pdf-btn {
		width: 15rem !important;
		left: 0.6rem !important;
	}
	.charts-btn {
		width: 15rem !important;
		left: 0.8rem !important;
	}

	.input-search {
		width: 15rem !important;
		display: flex !important;
	}
	.checkbox-filter {
		display: flex !important;
		justify-content: center;
		margin-left: 1rem !important;
	}
	.filters {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 1.5rem 0;
	}
	.input-search {
		position: relative;
		right: 1rem;
		width: 12rem !important;
		margin-top: 2rem !important;
	}
	.input-select-search {
		width: 12rem !important;
		margin-top: 2rem !important;
	}
	.date-range {
		right: 0.1rem;
		position: relative;
		bottom: 1rem;
	}
	.rs-anim-fade.rs-anim-in {
		left: 1% !important;
		border-radius: 40px !important;
		top: 154px;
	}
}
